* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
  color: #ffffff;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.category-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  position: relative;
  cursor: pointer;
}


.show-category-lists{
  width: 250px;
  position: absolute;
  top:  40px;
  background-color: #ffffff;
  z-index: 9;
}

.show-category-lists li{
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #3ccace;
}

.show-category-lists a{
  color: black;
}

.detailed-search-title{
  cursor: pointer;
}

.detailed-search {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  position: relative;
}

.search-window{
  width: 450px;
  position: absolute;
  top: 50px;
  left: 100px;
  background-color: #ffffff;
  z-index: 10;
  padding: 20px 20px 20px 40px;
  border: 3px solid #3ccace;
  border-radius: 20px;
}

.detailed-search-form-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.detailed-search-form{
  margin-bottom: 40px;
}

.price-form{
  width:30%;
}

.detailed-search-form-btn{
  text-align: center;
  cursor: pointer;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: #333333;
  margin-left: 10px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}

.hidden{
  display: none;
}