.category-wrapper {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.category-wrapper>.title {
  font-size: 4vh;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
}

.category-wrapper>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.category-lists li{
  font-size: 2vh;
  text-align: left;
  list-style-type: disc;
  text-decoration: none;
}