.search-wrapper{
  display: flex;
  margin: 0 auto;
  padding: 2vh 15vw ;
  width: 100vw;
}

.search-console{
  width: 300px;
}

.search-form-area{
  padding: 15px;
  background-color: #FFF;
}

.detailed-sort-form>select {
  width: 100%;
  margin: 15px 0 60px 0;
  height: 45px;
  border: 1px solid lightgray;
  color: #444444;
  border-radius: 5px;
  padding-left: 0.5em;
}

.detailed-search-form>input,select {
  width: 100%;
  margin-top: 15px;
  height: 45px;
  border: 1px solid lightgray;
  color: #444444;
  border-radius: 5px;
  padding-left: 0.5em;
}

.search-form-check_box{
  margin-top: 10px;
}

.search-form-check_box>label{
  display: inline-flex;
  width: 48%;
  height: 3em;
  font-size: 1.1vh;
  position: relative;
  align-items: center;
}

.search-form-check_box>label>input{
margin-right: 5px;

}

.detailed-search-form .price-form{
  width:40%;
  margin-right: 5px;
}

.detailed-search-form>label{
  font-weight: bold;
  color:#444444 ;
}

.search-form-check_box-sell{
  padding-left: 1em;
}

.detailed-search-form-btn .search-button{
  width: auto;
  border: 1px solid #3ccace;
  border-radius: 5px;
  padding: 0 10px ;
  font-size: 15px;
}
.reset-button{
  width: 40%;
  border-radius: 5px;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-button a{
  font-size: 1.2vh;
  color: #FFF;
  display: block;
}

.detailed-search-form-btn .search-button{
  width: 40%;
  border-radius: 5px;
  padding: 0 10px ;
  font-size: 1.2vh;
  background-color:#3ccace;
  color: #FFF;
}

.search-item-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px ;
  width: calc(100% - 270px);
  margin-left: 30px;
}

.search-item-contents>.title {
  font-size: 3vh;
  line-height: 1.4;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}

.search-item-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.item-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.item-lists>.list {
  width: 20vh;
  padding: 1vw;
  margin: 10px;
  background-color: #FFF;
  border: 1px solid lightgray;
  box-shadow:5px 5px 5px rgba(0,0,0,0.4);
}

.item-img-content {
  position: relative;
  text-align: center;
}

.item-img {
  width: 15vh;
  height: 15vh;
  object-fit: contain;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 1.5vh;
}

.item-price {
  font-size: 1vh;
  display: flex;
  justify-content: space-between;
}

.sold-out {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-10deg);
}

.sold-out > span {
  color: #FFF;
  font-size: 15px;
  font: bold;
}

.star-btn {
  display: flex;
  align-items: center;
  color:darkorange;
}

.star-icon {
  height: 1.5vh;
  width: 1.5vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 1.5vh;
}